html{font-size: 20px;}
    h1{font-family: 'Libre Baskerville', serif;
       text-align: center;
       font-size: 2rem ;
       margin-bottom: 0%;}
    p{font-family: 'Noto Serif', serif;
      font-size: 1rem;
      font-style: normal;
      text-align: center;
      margin-top: 0px;
    }
    .text{color: #e76082;}
    .text2{color: rgb(253, 246, 247);}
    html{background-color: black;}
    img{border: 5px solid white;
        width: 100%;
        height: 30%;
        }
    div{width: 50%;
        margin-left: 25%;}